:root {
  --brand-color: #0a5aa7;
  --brand-color-light: #91c6f7;
  --text-color: #333;
  --background: #F0F4F8;
  --helpIcon: #0D0D6F;
}


.Lists {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    list-style-type: none;
    margin-left: 0;
    gap: 4px;
}

.listItem {
  display:flex;
  flex-direction: row;
  padding: 20px;
  background-color:white;
  width: 100%;
}

img {
    width: 20px;

}

.Info {
    width: 20px;
    height: 20px;
} 

body {
  color: var(--text-color);
  background-color: var(--background);
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
}

img {
 width: 100%;
 height: auto;
 object-fit: contain;
}

header {
  background-color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
} 

.logo {
  width: 10vw;
  height: auto;
  margin-left: 10vw;
}

header nav ul {
  display: flex;
  gap: 1rem;
  margin: 0px 10vw;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  color: var(--brand-color-light);
}

#careerChoices {
  border: none;
  width: 60vh;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.iFoundYouFaker {
  background-color:#16588E;
  border-radius: 100%;
}

.gross {
  background-color:#F0F4F8;
  border: none;
  width: 9vh;
  margin-left: 130px;
}

footer {
    background-color: var(--brand-color);
    display: flex;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  } 

  footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
  }

  footer nav a {
    color: white;
    text-decoration: none;
    font-weight: semi-bold;
    transition: all 0.3s ease;
  }

  footer nav a:hover {
    color: var(--brand-color-light);
  }

  #loans {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav img {
    width: 20px;
    height: 20px;
    display: flex;
  }
 /*Monthly budget header*/
  #title {
    height: 40px;
    display: flex;
    justify-content: center;

    padding: 100px;
    font-size: 35px;
  }
  #container {
    padding-left: 2%;
    width: fit-content;
  


  }
  h2 {
    border: 1px solid var(--brand-color);
    width: fit-content;
    background-color: white;
    margin: 10px;
  }
  #buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }
  #buttons button {
    background-color: var(--brand-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  li img {
    width: 20px;
    height: 20px;
    display: flex;
  }

.material-symbols-outlined {
  color: var(--helpIcon);
}